
.layout-bl {
   width: 583px;
   height: 400px;
   background: white;
    margin: auto;
    border-radius: 4px;
    overflow: auto;
}
.layout-bl::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  .layout-bl::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .layout-bl::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .layout-bl::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
h6 {
    font-weight: bold;
    font-size: 16px;
}
.spc{
    margin-top: 10px;
    padding: 4px 10px;
    margin-right: 7px;
    margin-bottom: 7px;
    color: #333;
    font-weight: 600;
    border: 1px solid #666;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-height: 25px;
}
.spc:hover,.gia_chon:hover, .card-hang:hover, .card_ldt:hover {
    border: 1px solid #288ad6; 
    cursor: pointer;
}

.spc p {
    font-size: 10px;
}
.tl{
    margin: 10px 0;
}
.lits .img {
    display: flex;
    width: auto;
    max-height: 25px;
    max-width: 98%;
    object-fit: contain;
    justify-content: center;
}
.list-h {
    margin-top: 10px;
}
.card-hang{
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #333;
    display: inline-flex;
    font-size: 14px;
    justify-content: center;
    line-height: 17px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 8px 9px;
    height: 30px;
    margin: 0 4px 10px;
    padding: 0;
    width: 99px;
}
 
.card-hang img  {
    display: flex;
    width: auto;
    max-height: 25px;
    max-width: 98%;
    object-fit: contain;
    justify-content: center;
}
.chon{
    margin-top: 10px;
    display: flex;
     justify-content: space-between;
}
.chon-1{
    width: 253px;
}
.chon-2 {
     width: 200px;
}
.chon-3 {
    width: 200px;
}
.gia_chon {
    margin-top: 10px;
    padding: 4px 10px;
    margin-right: 7px;
    margin-bottom: 7px;
    color: #333;
    font-weight: 600;
    border: 1px solid #666;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-height: 25px;  
}
.card_ldt{
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #333;
    display: block;
    font-size: 14px;
    justify-content: center;
    line-height: 17px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 8px 9px;
    height: 70px;
    padding: 27px;
    margin: 0 4px 10px;
    padding: 9px;
}
.card_ldt img{
    display: flex;
    width: auto;
    max-height: 44px;
    max-width: 98%;
    margin: auto;
    object-fit: contain;
    justify-content: center;
}
.text{text-align: center;margin-top: 12px;-webkit-box-sizing: inherit; margin: 0px;}
.dtpt{
    width: 136px; 
}
.ldt_dt {
   margin-top: 10px;
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content: center;
}
.spc p {
    margin: 0px !important
}
.xoatatca:hover{
    color:aqua ;
    font-size: 14px;
}
